<h1>Create New Team</h1>

<%= form_for @team do |t| %>
  <%= t.label :name %>:<br>

  <%= t.text_field :name %>:

  <%= t.submit %>
<% end %>


<p><a href="/league">Back Home</a></p>
<br>
<p><%= link_to "All Players", :players %></p>
<br>
<p><%= link_to "All Teams", :teams %></p>




	


