<h1>Create New Team</h1>
<style>
a {
    color: #ECFD30;

}
</style>

<a><%= form_for @team do |t| %></a>
  <%= t.label :name %>:<br>

  <%= t.text_field :name %>:

  <%= t.submit %>
<% end %>


<p><a href="/league">Back Home</a></p>
<br>
<p><%= link_to "All Players", :players %></p>
<br>
<p><%= link_to "All Teams", :teams %></p>
<br>
<p><a href="/reports">Interested in more information about the league?</a></p>





	


