<body><a>
<style>
a {
    color: #ECFD30;

}
</style>
<h5>This is the <%= @team.name %> Team</h5>


<h1><%= @team.name %></h1>

<h2>Players on this team <%= @players.name %> <h2>





  <div class="input-field col xs12 sr12 m12">
<!-- add player to team -->
    <select class="" id="player" name="player_id">
      <option value="" disabled selected>Assign Player to this Team</option>
      <% @players.each do |p| %>
        <option value="<%= p.id %>" 
          <span class="left"><%= p.name %></span>
          <ul><% @players.each do |p| %><ul>
          <% end %>

        </option>
      <% end %>
    </select>
    <br>
    <br>
    <%= render "form" %>
    <label></label>
  </div><br><br>


<p><%= link_to "Edit Team Name", edit_team_path(@team) %></p>
<br>
<br>
<br>
<p><%= link_to "All Players", :players %></p>
<br>
<p><%= link_to "All Teams", :teams%></p>
<br>
<p><a href="/league">Back Home</a></p>
<br>
<p><a href="/reports">Interested in more information about the league?</a></p>

</body></a>





 
