<h5>This is the <%= @team.name %> Team</h5>


<h1><%= @team.name %></h1>

form action="/players" method="options">
  <div> 
    add player?
      <select name="player_id"> 
      <% @players do |p| %>
        <option value="<%= p.id %>"><%= p.name %></option>
      <% end %>
      <% end %>




<p><%= link_to "Edit Team", edit_team_path(@team) %></p>
<p><%= link_to "All Teams", :teams %></p>
