<%= form_for @users do |u| %>

<div>
<% if u.object.errors.any?%>
    <% u.object.errors.full_messages.each do |x|%>
      <li>Error: <%= x %></li>
    <% end %>
      <li>User</li>
  <% end %>
  </div>

  <div>
    <div>
      <%= u.label :email %>
    </div>
    <div>
      <%= u.text_field :email %>
    </div>
  </div>

  <div>
    <div>
      <%= u.label :password %>
    </div>
    <div>
      <%= u.text_field :password %>
    </div>
  </div>

  <div>
    <div>
      <%= u.label :password_confirmation %>
    </div>
    <div>
      <%= u.text_field :password_confirmation %>
    </div>
  </div>

  

  <div>
      <%= u.submit %>
  </div>
  <% end %>