<h1>Players index</h1>

<div>
			<h5>There are <%= Player.count %> Players In the Lincoln, Nebraska Soccer League</h5>
</div>

<div>
	<% if flash[:notice] %>
	  <div class="flash notice row">
	    <p><%= flash[:notice] %></p>
	  </div>
	<% end %>
</div>

<div class="container">

  <% if @players.any? %>
    <% @players.each do |p| %>
      <p>Name: <%= link_to p.name, player_path(p) %>  <br><b>Email:  <%= p.email %></b>
    <% end %>
  <% end %>
</div>

<br>
<p><%= link_to "All Players", :players %></p>
<br>
<p><%= link_to "All Teams", :teams%></p>
<br>
<p><a href="/league">Back Home</a></p>
