

<h1>League Player Index</h1>
      <div class= "number-teams">
			<h3>There are <%= Player.count %> Players In the Lincoln, Nebraska Soccer League</h3>
</div1>

<div>
	<% if flash[:notice] %>
	  <div class="flash notice row">
	    <p><%= flash[:notice] %></p>
	  </div>
	<% end %>
</div>

<div class="container">
<div class= "players-list"
   <% if @players.any? %>
    <% @players.each do |p| %>
    <li class="block">
      <p>Name:  <%= link_to p.name, player_path(p) %></p>
      <p>Team:  <%= p.team.name if p.team %></p>
      <p>Email: <%= p.email %></p>
      </li>
  <% end %>
  <% end %>
</div>
</div>

<br>
<p><%= link_to "All Players", :players %></p>
<br>
<p><%= link_to "All Teams", :teams%></p>
<br>
<div class= "button-link"
<p><a href="/league">Back Home</a></p>
